In [8]:
users = [
    {"id": 0, "name": "Hero"},
    {"id": 1, "name": "Dunn"},
    {"id": 2, "name": "Sue"},
    {"id": 3, "name": "chi"},
    {"id": 4, "name": "Thor"},
    {"id": 5, "name": "Clive"},
    {"id": 6, "name": "Hicks"},
    {"id": 7, "name": "Devin"},
    {"id": 8, "name": "Kate"},
    {"id": 9, "name": "Klein"}
]
friendships = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
              (4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [9]:
for user in users:
    user["friends"] = []
    
for i, j in friendships:
    users[i]["friends"].append(users[j])
    users[j]["friends"].append(users[i])
    
def number_of_friends(user):
    return len(user["friends"])
total_connections = sum(number_of_friends(user)
                       for user in users)
print(total_connections)

24

In [10]:
from  __future__ import division
num_users = len(users)
avg_connections = total_connections / num_users
print(avg_connections)

2.4

In [11]:
num_friends_by_id = [(user["id"], number_of_friends(user))
                    for user in users]
print(num_friends_by_id)

[(0, 2), (1, 3), (2, 3), (3, 3), (4, 2), (5, 3), (6, 2), (7, 2), (8, 3), (9, 1)]

In [12]:
def friends_of_friends_ids_bad(user):
    return [foaf["id"]
           for friend in user["friends"]
           for foaf in friend["friends"]]

In [13]:
print([friend["id"] for friend in users[0]["friends"]])
print([friend["id"]for friend in users[1]["friends"]])
print([friend["id"] for friend in users[2]["friends"]])

[1, 2]
[0, 2, 3]
[0, 1, 3]

In [14]:
from collections import Counter

def not_the_same(user, other_user):
    return user["id"] != other_user["id"]

def not_friends(user, other_user):
    return all(not_the_same(friend, other_user)
              for friend in user["friends"])

def friends_of_friends_ids(user):
    return Counter(foaf["id"]
                  for friend in user["friends"]
                  for foaf in friend["friends"]
                  if not_the_same(user, foaf)
                  and not_friends(user,foaf))
print(friends_of_friends_ids(users[3]))

Counter({0: 2, 5: 1})

In [41]:
interests = [
    (0, "Hadoop"), (0, "Big Data"), (0, "HBase"), (0, "Java"),
    (0, "Spark"), (0, "Storm"), (0, "Cassandra"),
    (1, "NoSql"), (1, "MongoDB"), (1, "Cassandra"), (1, "HBase"),
    (1, "Postgres"), (2, "Python"), (2, "scikit-learn"), (2, "scipy"),
    (2, "numpy"), (2, "statsmodels"), (2, "pandas"), (3, "R"), (3, "Python"),
    (3, "statistics"), (3, "regression"), (3, "probabilty"),
    (4, "machine learning"), (4, "regression"), (4, "decision trees"),
    (4, "libsvm"), (5, "python"), (5, "R"), (5, "Java"), (5, "c++"),
    (5, "Haskell"), (5, "programming languages"), (6, "statistics"),
    (6, "probabilty"), (6, "mathematics"), (6, "theory"),
    (7, "machine learning"), (7, "scikit-learn"), (7, "Mahout"),
    (7, "neural networks"), (8, "neural networks"), (8, "deep learning"),
    (8, "Big Data"), (8, "artificial intelligence"), (9, "Hadoop"),
    (9, "Java"), (9, "Mapreduce"), (9, "Big Data")
]

In [43]:
def data_scientists_who_like(target_interest):
    return [user_id
           for user_id, user_interest in interests
           if user_interest == target_interest]

In [44]:
from collections import defaultdict

user_ids_by_interest = defaultdict(list)

for user_id, interest in interests:
    user_ids_by_interest[interest].append(user_id)

In [45]:
interests_by_user_id = defaultdict(list)

for user_id, interest in interests:
    interests_by_user_id[user_id].append(interest)

In [46]:
def most_common_interests_with(user):
    return Counter(interested_user_id
                  for interest in interests_by_user_id[user["id"]]
                  for interested_user_id in user_ids_by_interest[interest]
                  if interested_user_id != user["id"])

In [47]:
print(most_common_interests_with(users[5]))

Counter({3: 1, 0: 1, 9: 1})

## Salaries and Experience

In [48]:
salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
                       (48000, 0.7), (76000, 6),
                       (69000, 6.5), (76000, 7.5),
                       (60000, 2.5), (83000, 10),
                       (48000, 1.9), (63000, 4.2)]

In [49]:
salary_by_tenure = defaultdict(list)

for salary, tenure in salaries_and_tenures:
    salary_by_tenure[tenure].append(salary)
    
average_salary_by_tenure = {tenure: sum(salaries)/len(salaries)
                           for tenure, salaries in salary_by_tenure.items()}

In [67]:
def tenure_bucket(tenure):
    if tenure < 2:
        return "less than two"
    elif tenure < 5:
        return "less than five"
    else:
        return "more than five years"

In [68]:
salary_by_tenure_bucket = defaultdict(list)

for salary, tenure in salaries_and_tenures:
    bucket = tenure_bucket(tenure)
    salary_by_tenure_bucket[bucket].append(salary)

In [69]:
average_salary_by_bucket = {
    tenure_bucket : sum(salaries)/len(salaries)
    for tenure_bucket, salaries in salary_by_tenure_bucket.items()
}

In [64]:
words_and_counts = Counter(word
                          for user, interest in interests
                          for word in interest.lower().split())

In [65]:
for word, count in words_and_counts.most_common():
    if count >1:
        print(word, count)

big 3
data 3
java 3
python 3
learning 3
hadoop 2
hbase 2
cassandra 2
scikit-learn 2
r 2
statistics 2
regression 2
probabilty 2
machine 2
neural 2
networks 2

### CRASH COURSE IN PYTHON

In [75]:
for j in [1,2,3,4,5]:
    print(j)

1
2
3
4
5

In [76]:
two_plus_three = 2 + \
3
print(two_plus_three)

5

In [80]:
from __future__ import division
sim = 5/2
print(sim)

2.5

In [81]:
sim = 5//2
print(sim)

2

### Functions (crash course in python)

In [83]:
def double(x):
    return x*x
print(double(7))

49

In [84]:
x = [1, 2, 3]
x.extend([4, 5, 6])
print(x)

[1, 2, 3, 4, 5, 6]

In [85]:
y = x + [4, 5,6]
print(y)

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [1]:
d = [3,5,6,7]
d.extend([9,8,10,11,])
print(d)

[3, 5, 6, 7, 9, 8, 10, 11]

In [5]:
tweet = {
    "user": "joelgrus",
    "text": "Data Science is awesome",
    "retweet_count": 100,
    "hashtags": ["#data", "#science", "#datascience","#awesome", "#yolo"]
}

In [6]:
print(tweet.keys())

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [7]:
print(tweet.values())

dict_values(['joelgrus', 'Data Science is awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [10]:
print("user" in tweet)

True

In [13]:
print("joelgrus" in tweet.values())

True

In [21]:
import random
name = ["debo", "jide", "bright", "richard", "jarsu"]
print(random.choice(name))

bright


### DONT TOUCH

In [38]:
Y, D = 3,6
Y, D = D,Y
print(D)

3

In [41]:
def cruise(x, y):
    return (x+y)/(y/x)

print(cruise(4,6))

In [44]:
from collections import defaultdict
dd_list = defaultdict(list)
dd_list[2].append(1)

In [45]:
print(dd_list)

defaultdict(<class 'list'>, {2: [1]})

In [46]:
dd_dict= defaultdict(dict)
dd_dict["joel"]["city"] = "seattle"
print(dd_dict)

defaultdict(<class 'dict'>, {'joel': {'city': 'seattle'}})

In [47]:
from collections import Counter
c = Counter([1,3,4,2,1,4,3])
print(c)

Counter({1: 2, 3: 2, 4: 2, 2: 1})

In [ ]:
x = set()
items_list = [1,2,3,4,5,2,1,5]
print(len(items_list))
j = set(items_list)
print(len(j))

In [1]:
def double(x):
    return 2 * x

xs = [1, 2, 3, 4]
twice_xs = [double(x) for x in xs]
print(twice_xs)

[2, 4, 6, 8]

In [3]:
twice_xs = map(double, xs)
twice_xs